.container {
    width: 75%;
    margin: auto;
}

.night {
    background-color: #1d1d1d;
    color: white;
}

.centered {
    text-align: center;
}

body {
    font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
}

.red {
    /*background-color: rgb(255, 0, 0);*/
    color: rgb(255, 0, 0);
}

.green {
    /*background-color: rgb(42, 187, 42);*/
    color: rgb(42, 187, 42);
}

.small {
    font-size: 75%;
    color: grey;
}


}
